@import "~bootstrap/scss/bootstrap";
@import "~@fontsource/barlow-semi-condensed/index.css";
@import "~@fontsource/barlow-semi-condensed/500.css";
@import "~font-awesome/css/font-awesome.min.css";

// Variables
$text-gray: #78787a;
$text-light-gray: #bcbcbc;
$hover-button: #ec5a57;
$main-btn-color: #4257ef;
$pb20: 20px; 
$my-black: #000000;

// Utilities 
.btn-blu-style {
    background-color: $main-btn-color;
    font-weight: 500;
    padding: 0 25px;
    border: 0;
}
.playmarg {
    margin-left: 150px;
}
.play-button {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    i {
        padding-left: 38px;
        padding-top: 35px;
        font-size: 20px;
    }
    &:hover {
        color: $hover-button;
    }
}
.btn-pad {
    padding: 15px 42px;
}
.my-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    &:hover {
        color: $main-btn-color;
    }
}
.separator {
    width: 70px;
}
.w-text {
    color: white;
}
.mrgbot {
    margin-bottom: 100px;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
// -----------------------------------------
#app {
    font-family: "Barlow Semi Condensed", sans-serif;
    header {
        background-color: $my-black;
        padding: 16px 0;
        .nav-link {
            color: $text-gray;
            font-size: 18px;
            font-weight: 500;
            margin-right: 25px;
            &.active {
                color: white;
            }
            &:hover {
                color: white;
            }
        }
        .new {
            color: black;
            background-color: #fff941;
            font-weight: 500;
            font-size: .8rem;
            display: flex;
            align-items: center;
            width: 35px;
            height: 26px;
            border-radius: 3px;
            justify-content: center;
            margin-top: 8px;
            margin-left: -22px;
            margin-right: 38px;
        }
        button {
            font-size: 15px;
            &:hover {
                background-color: $hover-button;
            }
        }
        .icon-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 20px;
            i {
                padding: 0 12px;
                color: $text-gray;
                font-size: 18px;
                &:hover {
                    color: white;
                }
            }
        }
    }
    .hero {
        background-image: linear-gradient(90deg, $my-black 45%, rgba(6, 6, 7, 0) 75%), url(./assets/img/slider82x-scaled.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 120px 78px 200px 70px;
        h2 {
            color: #bc0428;
            font-size: 27px;
            font-weight: 500;
        }
        h1 {
            font-size: 75px;
            color: white;
            line-height: 1;
        }
        p {
            font-size: 23px;
            font-weight: 400;
            color: $text-gray;
        }
        button {
            font-size: 18px;
            &:hover {
                background-color: $hover-button;
            }
        }
        .btn-dark {
            background-color: transparent;
            border: 2px solid rgba(65, 65, 65, 0.753);
            font-weight: 500;
            &:hover {
                color: black;
                background-color: white;
                border: 2px solid white;
            }
            i {
                font-size: 14px;
            }
        }
        .demos {
            right: 50px;
            display: flex;
            flex-direction: column;
            a {
                background-color: white;
                margin-bottom: 10px;
                width: 40px;
                height: 40px;
                border-radius: 5px;
            }
        }
    }
    .section-2 {
        background-image: linear-gradient(
        150deg, #0219eb 0%,#d5000b 100%);
        background-repeat: no-repeat;
        padding-top: 400px;
        padding-bottom: 160px;
        .s2-container {
            padding: 70px 160px 10px 160px;
            p {
                font-size: 48px;
                font-weight: 500;
                color: white;
            }
            .avatar-cont {
                margin-top: -12px;
                img {
                     border-radius: 50%; 
                     width: 60px; 
                     height: 60px;
                     margin-right: 20px;
                }
                span {
                    display: inline-flex;
                    align-items: center;
                    font-size: 21px;
                    font-weight: 500;
                    color: white;
                }
                .ls {
                    color: $text-light-gray;
                }
            }     
        }
        .ab-card {
            top: -70px;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            .card {
                border-radius: 4px 4px 40px;
                background-color: transparent;
                box-shadow: rgb(0 0 0 / 20%) 0px 10px 30px 0px;
                border: 0;
                transition: all .4s ease-out;
                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                    transition: all .3s ease-in;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }
                img {
                    border-radius: 4px 4px 40px;
                    position: relative;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    border-radius: 4px 4px 40px;
                    background-color: rgb(6,6,8);
                    background: linear-gradient(180deg, rgba(3, 4, 15, 0) 11%, rgba(3, 4, 15, 0.7) 100%);
                    display: flex;
                    align-items: end;
                    padding: 30px;
                    img {
                        transform: scale(0.3);
                        position: absolute;
                        bottom: 42px;
                        left: -42px;
                        width: 125px;
                    }
                    h2 {
                        color: white;
                    }
                    h3 {
                        color: #fff941;
                    }
                }
            }
        }
    }
    .section-3 {
        padding-top: 140px;  
        padding-bottom: 330px;
        .card-yt {
            width: 50%;
            height: 900px;
            background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url(./assets/img/service15-2x.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0px 4px 40px 0px;
            overflow: hidden;
            top: -50px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                cursor: pointer;
                i {
                    color: $hover-button;
                }
            }
        }
        .yt-section {
            width: 40%;
            padding-right: 110px;
            margin-right: 45px;
            h2 {
                font-size: 28px;
                color: $main-btn-color;
                padding-bottom: $pb20;
            }
            h1 {
                font-size: 62px;
                padding-bottom: $pb20;
            }
            .themeFusion {
                img {
                    width: 51px;
                }
                button {
                    border-radius: 0;
                }
            }
            p {
                font-size: 23px;
                padding-bottom: $pb20;
            }
            button {
                background-color: #f30031;
                color: white;
                &:hover {
                    background-color: #e94240ea;
                }
            }
            span {
                color: $text-gray;
                border: 1px solid rgba(151, 151, 151, 0.527);
                padding: 3px 5px 5px 0;
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
    .playlist {
        margin-bottom: 120px;
        h2 {
            font-size: 27px;
            padding-bottom: 40px;
        }
        .card {
            border: 0;
            img {
                border-radius: 4px 4px 40px;
                background-color: transparent;
                box-shadow: rgb(0 0 0 / 20%) 0px 10px 30px 0px;
                position: relative;
                display: flex;
                transition: all .2s ease-out;
            }
            a {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-40%,-150%); 
                width: 40px;
                height: 40px;
                i {
                    padding-left: 16px;
                    padding-top: 14px;
                    font-size: 12px;
                }
            }
            &:hover {
                cursor: pointer;
                img {
                    box-shadow: rgb(0 0 0 / 60%) 0px 10px 30px 0px;
                    transition: all .2s ease-in;
                }
                i {
                    color: $hover-button;
                }
                h4 {
                    color: $main-btn-color;
                }
            }
            .card-body {
                text-align: center;
            }
            p {
                font-size: 18px;
                font-weight: 500;
                color: $main-btn-color;
            }
        }
    }
    .mailing-section {
        background-color: $my-black;
        background-image: linear-gradient(
        90deg, $my-black 47%, rgba(6, 6, 7, 0) 76%), url(./assets/img/banner1-2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .container {
            padding: 130px 0;
            h2 {
                color: #bc0428;
                font-size: 27px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            .h1-cont {
                width: 60%;
                h1 {
                    font-weight: 500;
                    font-size: 58px;
                    color: white;
                }
            }
            img {
                margin-bottom: 20px;
            }
            input {
                border: 0;
                border-radius: 3rem;
                padding: 0 18px;
                width: 680px;
                margin-right: 25px;
            }
            button {
                padding: 10px 70px;
                &:hover {
                    background-color: #e94240ea;
                }
            }
            p {
                font-size: 23px;
                color: $text-light-gray;
                width: 62%;
                padding-top: 10px;
            }
        } 
    }
    .black-cont {
        background-color: $my-black;
        padding: 120px 0;
        .card {
            background-color: $my-black;
            color: white;
            border: 5px solid $main-btn-color;
            display: flex;
            align-items: center;
            padding: 90px 30px 60px 30px;
            text-align: center;
            transition: all .3s ease-out;
            &:hover {
                transform: scale(1.05);
                transition: all .3s ease-in;
                cursor: pointer;
            }
            img {
                width: 20%;
            }
            h4 {
                color: #fff941;
            }
            p {
                font-size: 20px;
                color: $text-light-gray;
                margin-bottom: 40px;
            }
            .my-link {
                color: white;
            }
        }
    }
    .articles {
        padding: 120px 0;
        h2 {
            font-size: 27px;
            padding-bottom: 40px;
            font-weight: 500;
        }
        .card {
            border: 0;
            .overlay {
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                height: 73%;
                width: 100%;
                background: rgb(6,6,8);
                background: linear-gradient(180deg, rgba(6,6,8,0) 37%, rgba(67,33,170,0.7091211484593838) 100%);
                transition: all .3s ease-in-out;
                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
    }
    .hero-banner {
        text-align: center;
        background-image: linear-gradient(rgba(0, 2, 17, 0.16) 0%, rgb(0, 2, 17) 100%), url(./assets/img/banner2-2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 160px 0px 150px 0px;
        color: #ffffff;
        p {
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 1rem;
            width: 58%;
            margin: auto;
        }
        img {
            margin-bottom: 15px;
        }
        .small-p {
            font-size: 23px;
            margin-bottom: 25px;
            font-weight: 400;
        }
        button {
            font-size: 18px;
            &:hover {
                background-color: $hover-button;
            }
        }
    }
    .sponsor-cont {
        padding: 120px 0;
        .card {
            text-align: center;
            border: 0;
            display: flex;
            align-items: center;
            p {
                font-size: 18px;
                margin-top: -15px;
            }
            .card-img-top {
                width: 55%;
            }
        }
    }
    .banner-video {
        background-color: rgba(255, 255, 255, 0);
        background-image: linear-gradient(
        151deg, rgba(6, 25, 231, 0.8) 35%, rgba(206, 1, 18, 0.8) 100%), url(./assets/img/banner14-2x.jpg);
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-size: cover;
        height: 700px;
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            h2 {
                font-size: 58px;
                font-weight: 500;
                color: white;
            }
            h3 {
                color: #fff941;
                font-size: 38px;
            }
        }
    }
    .footer-section {
        background-color: $my-black;
        padding-top: 150px;
        .col-4 {
            display: flex;
            align-items: center;
            flex-direction: column;
            li {
                list-style: none;
                padding-bottom: 20px;
                padding-right: 10px;
            }
            a {
                font-size: 20px;
                color: white;
                text-decoration: none;
                &:hover {
                    color: $main-btn-color;
                }
                i {
                    font-size: 12px;
                    padding-right: 5px;
                }
            }
            h2 {
                font-size: 23px;
                color: white;
                padding-bottom: 18px;
            }
            h3 {
                font-size: 20px;
                color: $text-gray;
                padding-bottom: 20px;
            }
            img { 
                width: 220px;
                padding-bottom: 16px;
            }
            .left-p {
                font-size: 20px;
                color: $text-light-gray;
                padding-bottom: 30px;
                text-align: center;
            }
            .social-cont {
                color: #bc0428;
                i {
                    padding: 0 10px;
                    font-size: 20px;
                    &:hover {
                        cursor: pointer;
                        color: white;
                    }
                }
            }
            .right-p {
                font-size: 20px;
                color: white;
                text-align: center;
            }
        }
        hr {
            color: $text-light-gray;
        }
        .foot-text {
            font-size: 17px;
            color: $text-gray;
            padding: 30px 0 40px 0;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    color: $main-btn-color;
                }
            }
        }
    }
  }